body {
  background: rgb(22, 14, 14);
  color: white;
  margin: 3%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  background: rgb(41, 40, 40);
  max-width: 40%;
  padding:2%;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#cv-container {
  padding: 2%;
  margin:2%;
  min-width: 350px;
}
#cv{
  margin:3%;
}
#fcv{
  margin:3%;
}
